.inner-container {
    display: flex;
    align-items: center;

    .logo {
        img {
            width: 150px;
        }
    }

    .nav-outer {
        margin-left: auto;
    }
}

.sticky-header {
    img {
        height: 60px;
    }
}

.main-menu .navigation > li > a {
    font-size: 16px;
}

.sticky-header #navbarSupportedContent:first-child {
    //display: none !important;
}

.menu-outer .navbar-collapse:first-child {
    display: none !important;
}