@media (max-width: 479px) {
  .logo-image {
    min-width: 35px;
    height: 48px;
  }

  .w-dropdown-list {
    position: relative;
  }
}


@media (max-width: 991px) {
  .navigation-and-offcanvas {
    display: flex;
    position: fixed;
    min-width: 315px;
    top: 0;
  }

  .navigation-and-offcanvas {

    right: -100%;
    transition: all 580ms;
    opacity: 0;




    &.open {

      opacity: 1;
      transition: all 580ms;
      right: 0;

    }
  }


}
