<header class="navigation-section position-absolute">
  <div class="navigation-overlay"></div>
  <div class="navigation-and-offcanvas">
    <div class="col no-margin-bottom lg-5 md-basis-uato">
      <nav class="navigation-menu">
        <a href="index.html" class="nav-link w--current">Acasa</a>

        <div data-hover="1" data-delay="0" data-w-id="83a36909-9554-440b-ec90-d232c2c0c83d"
          class="nav-dropdown w-dropdown">
          <div class="nav-dropdown-toggle w-dropdown-toggle">
            <a href="services.html" class="nav-link-block w-inline-block">
              <div>Servicii</div>
              <div class="dropdown-icon w-icon-dropdown-toggle"></div>
            </a>
          </div>
          <nav class="dropdown-list w-dropdown-list">
			 <a href="finance-transformation.html" class="dropdown-link w-dropdown-link">Contabilitate Completa</a>
			 <a href="finance-transformation.html" class="dropdown-link w-dropdown-link">Salarizare si Resurse Umane</a>
			 <a href="finance-transformation.html" class="dropdown-link w-dropdown-link">Consultanta Fiscala</a>
			 <a href="finance-transformation.html" class="dropdown-link w-dropdown-link">Infiintari Firme</a>
			
            
          </nav>
        </div>
      </nav>
    </div>

    <div class="col lg-2 md-basis-auto md-order-first no-margin-bottom-lg">
		<a href="#" class="brand w-inline-block"><img
          src="/assets/images/logo.svg" alt=""></a></div>
    <div class="col no-margin-bottom lg-5">
      <nav class="navigation-menu justify-end">
        <a href="about.html" class="nav-link">Despre noi</a>
        <a href="general-contact.html" class="nav-link">Contact</a>
        <a data-w-id="e02ef0fd-d341-7eaf-5ed3-b53528c9af97" href="quote.html"
          class="button-primary animated is-small alignself-center w-inline-block">
          <div class="button-primary-text">Cere oferta</div>
          <div class="button-primary-text for-hover">Hai sa vorbim <span class="fa margin-left"></span></div>
        </a>
      </nav>
    </div>
    <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c85f" href="#" class="c-nav__close-button w-inline-block">
      <div class="iconfont is-offcanvas-close-button"><em class="iconfont__no-italize"></em></div>
    </a>
  </div>
  <div class="mobile-navigation-bar"><a href="#" class="brand w-inline-block"><img src="/assets/images/logo.svg"
        alt="" class="logo-image"></a>
    <a data-w-id="83a36909-9554-440b-ec90-d232c2c0c868" href="#" class="burger-button w-inline-block">
      <div class="iconfont is-burger"><em class="iconfont__no-italize"></em></div>
    </a>
  </div>
</header>
