.inner-container {
    display: flex;
    align-items: center;

    .logo {
        img {
            width: 150px;
        }
    }

    .nav-outer {
        margin-left: auto;
    }
}

.sticky-header {
    img {
        height: 60px;
    }
}