<h3>Servicii</h3>
<ul class="c-checklist margin-bottom-double">


  <li class="c-checklist_item style2"><a routerLink="servicii-contabilitate-srl" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Contabilitate SRL</a></li>
  <li class="c-checklist_item style2"><a routerLink="servicii-salarizare-resurse-umane" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Salarizare si Resurse Umane</a></li>
  <li class="c-checklist_item style2"><a routerLink="servicii-consultanta-fiscala-contabila" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Consultanta Fiscala</a></li>
  <li class="c-checklist_item style2"><a routerLink="servicii-contabilitate-pfa-ii-if" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Contabilitate PFA, II, IF</a></li>
</ul>
