h3,
h2 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 0 80px;

  strong {
    margin-left: 16px;
  }
}

.security-block .inner-box .lower-content .upper-box {
  padding: 0;

  h5 {
    a {
      color: #E83943;
    }
  }
}

.text {
  ul {
    li {
      span {
        color: #E83943;
      }
    }
  }

  &.df {
    display: flex;
    flex-wrap: wrap;

    p {
      flex-basis: 100%;
    }

    ul {
      flex: 1;
    }
  }
}

.security-block .inner-box:hover .lower-content .text,
.security-block .inner-box:hover .lower-content .upper-box h5 a,
.security-block .inner-box:hover .lower-content .text ul li span {
  color: #fff
}

.green {
  color: #7cb434;
}

.security-section {
  h2 {
    margin: inherit;
  }

  .icon {
    img {
      width: 23px;
    }

  }

  .images-column {
    display: flex;
    justify-content: center;

    .bold-text {
      position: relative;
      color: #222222;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.9em;
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}


.premium-section {
  .title-column {

    h3 {
      margin-bottom: 20px;
    }

    p {
      font-size: 24px;
      text-align: center;
    }
  }


}


.urgency {
  display: flex;
  align-items: center;
  flex-direction: column;


  ul {

    li {
      a {
        color: inherit;

        i {
          color: #E73D44;
        }
      }
    }
  }
}

.last-section {

  p {
    font-size: 24px;

    &:last-child {
      font-size: 28px;
    }
  }

  div[class^="col"] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.premium-section {
  padding: 70px 0px 70px;
}
