<footer class="section section-footer-dark padding-bottom-16">
	<div class="container margin-bottom">
		<div class="col lg-2 md-12 md-order-first"><img src="images/-asset-quaid-light.svg" alt=""></div>
		<div class="col lg-6 md-12 no-margin-bottom-lg">
			<div class="container container-nested">
				<div class="col lg-4 md-12 no-margin-bottom-lg">
					<h4 class="on-dark">Company</h4><a href="#" class="footer-nav-link on-dark">About</a><a href="#" class="footer-nav-link on-dark">Services</a><a href="#" class="footer-nav-link on-dark">Career</a><a href="#" class="footer-nav-link on-dark">Sitemap</a><a href="#" class="footer-nav-link on-dark">Terms of privacy</a>
				</div>
				<div class="col lg-4 md-12 no-margin-bottom-lg">
					<h4 class="on-dark">Finance services</h4><a href="#" class="footer-nav-link on-dark">Finance transformation</a><a href="#" class="footer-nav-link on-dark">Lean finance</a><a href="#" class="footer-nav-link on-dark">Finance strategy</a><a href="#" class="footer-nav-link on-dark">Post—merger finance integration</a>
				</div>
				<div class="col lg-4 md-12 no-margin-bottom">
					<h4 class="on-dark">Industries</h4><a href="#" class="footer-nav-link on-dark">Building and Construction</a><a href="#" class="footer-nav-link on-dark">Consumer Markets</a><a href="#" class="footer-nav-link on-dark">Defence and Aerospace</a><a href="#" class="footer-nav-link on-dark">Family enterprise</a>
				</div>
			</div>
		</div>
		<div class="col lg-4 md-12 no-margin-bottom">
			<div class="w-form">
				<form id="email-form" name="email-form" data-name="Email Form" class="flexh-align-center xs-is-wrapping"><input type="email" class="form-input-text is-grey margin-right-small lg-md-sm-no-margin-bottom w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email address" id="email-2" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary is-small w-button"></form>
				<div class="w-form-done">
					<div>Thank you! Your submission has been received!</div>
				</div>
				<div class="w-form-fail">
					<div>Oops! Something went wrong while submitting the form.</div>
				</div>
			</div>
			<div class="low-text-contrast text-xsmall margin-bottom-double">Join our newsletter to stay up to date on features and releases</div>
			<div class="flexh-space-between">
				<a href="#" class="c-social on-dark w-inline-block">
					<div class="fa-brand"></div>
				</a>
				<a href="#" class="c-social on-dark w-inline-block">
					<div class="fa-brand"></div>
				</a>
				<a href="#" class="c-social on-dark w-inline-block">
					<div class="fa-brand"></div>
				</a>
				<a href="#" class="c-social on-dark w-inline-block">
					<div class="fa-brand"></div>
				</a>
				<a href="#" class="c-social on-dark w-inline-block">
					<div class="fa-brand"></div>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col lg-12 margin-bottom">
			<div class="hr on-dark"></div>
		</div>
	</div>
	<div class="container">
		<div class="col lg-6 no-margin-bottom md-12 md-order-last">
			<div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
				<div class="md-order-last">©2019 Quaid by detheme. All rights reserved. </div><a href="#" class="footer-bottom-link">Privacy Policy</a><a href="#" class="footer-bottom-link">Term Of Service</a>
			</div>
		</div>
		<div class="col lg-6 no-margin-bottom md-12">
			<div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in Surabaja, Indonesia</div>
		</div>
	</div>
</footer>