<div class="section is-hero position-relative bg-hero2 overflow-hidden md-sm-xs-no-padding-bottom flexv-justify-center">
  <div class="decoration-rightside img-hero2 img-hero2--bg">
    <img src="/assets/images/frame.svg" alt="" class="bg-hero-decor">
  </div>
  <div
    
    class="decoration-rightside img-hero2 img-hero2--person">
    <img src="/assets/images/men-2.png" alt="" class="hero-image">
  </div>
  <div class="container position-relative">
    <div
      class="col lg-9 md-12 text">
      <h1 class="c-herotext__main">Servicii de Contabilitate <br>Pentru Afaceri Performante</h1>
  
      <div class="color-dark text-medium margin-bottom">Contabilitatea inseamna mai mult decat calcule si declaratii pentru afacerea ta. <br>Suntem alaturi de tine, pas cu pas, in aceasta calatorie antreprenoriala.</div>
      <a href="#" class="button-primary animated w-inline-block">
        <div
          class="button-primary-text">Cere oferta</div>
        <div
          class="button-primary-text for-hover">Hai sa vorbim <span class="fa margin-left"></span></div>
      </a>
    </div>
    <div class="col lg-7 no-margin-bottom-lg"></div>
  </div><img src="/assets/images/header2.svg" alt="" class="header-image style-3">
</div>
