<!--Banner Section-->
<section class="banner-section">
  <div class="main-slider-carousel owl-carousel owl-theme">

    <div class="slide">
      <div class="image-layer" style="background-image:url(/assets/images/slider/slide-1.jpg)"></div>
      <div class="auto-container">
        <!-- Content Boxed -->
        <div class="content-boxed">
          <div class="inner-boxed">
            <!-- <div class="title">protecting what matters!</div> -->
            <div class="boxed-bg">
              <h1>Ai nevoie de un instalator bun?</h1>
              <div class="text">
                Ne deplasam rapid, oriunde in Bucuresti si Ilfov:
                <ul class="half-list">
                  <li><span></span>Sector 1</li>
                  <li><span></span>Sector 2</li>
                  <li><span></span>Sector 3</li>
                  <li><span></span>Sector 4</li>
                  <li><span></span>Sector 5</li>
                  <li><span></span>Sector 6</li>
    
                </ul>
  
              </div>
            </div>
            
            <ul class="icon__list">
              <li>
                <img src="/assets/images/slider/instalatii-sanitare--icon.png" alt="">
                <p>Instalatii sanitare</p>
              </li>
              <li>
                <img src="/assets/images/slider/instalatii-termice--icon.png" alt="">
                <p>Instalatii termice</p>
              </li>
              <li>
                <img src="/assets/images/slider/desfundari-profesionale--icon.png" alt="">
                <p>Desfunari profesionale</p>
              </li>
            </ul>
            <div class="btns-box clearfix">
              <a href="contact.html" class="theme-btn btn-style-one"><span class="txt">
                  Cere oferta</span></a>
              <a href="contact.html" class="talk">suna (0723) 999 999</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="slide">
      <div class="image-layer" style="background-image:url(https://via.placeholder.com/1920x780)"></div>
      <div class="auto-container">
        <!-- Content Boxed -->
        <div class="content-boxed alternate clearfix">
          <div class="inner-boxed">
            <div class="title">protecting what matters!</div>
            <h1>real security <br> your home need</h1>
            <div class="text">Aorem ipsum dolor sit amet consectetur adipisicing anim elit <br> dolore magna aliqua
              veniam quis nostrud.</div>
            <div class="btns-box clearfix">
              <a href="contact.html" class="theme-btn btn-style-one"><span class="txt"><i class="flaticon-shield-1"></i>
                  get started</span></a>
              <a href="contact.html" class="talk">Talk With Us 1.700.231.0025</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!--End Banner Section-->
