<div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
  <div class="container position-relative">
    <div class="col block-centered text-align-center lg-7 md-12">
      <h1>Termeni si conditii</h1>
    </div>
  </div><img src="/assets/images/header2.svg" alt="" class="header-image style3">
</div>
  <div class="section padding-bottom-extra">
    <div class="container flex-horizontal">
      <div class="col lg-12 md-12 no-margin-bottom-lg">
        <div id="contents">
        
          <p class="c5"><span class="c0">Termenii şi condiţiile de utilizare a paginii de internet disponibilă la adresa
              www.lukinstall.ro (denumit în continuare "Site")</span></p>
          <p class="c5"><span class="c0">1. PRIN UTILIZAREA ACESTUI WEBSITE, SUNTEȚI DE ACORD CU ACESTE CONDIȚII DE
              UTILIZARE</span></p>
          <p class="c3"><span class="c1">Acest website reprezintă proprietatea CERT ACCOUNT SRL, denumit in continuare
              “Furnizor”</span></p>
          <p class="c3"><span class="c0">Accesul și utilizarea acestui website sunt supuse următoarilor termeni și condiții de
              utilizare și tuturor legilor și regulamentelor aplicabile. </span></p>
          <p class="c3"><span>Accesând și utilizând website-ul, acceptați, fără limitări sau calificări, aceste condiții și
              luați la cunoștință ca orice alte acorduri între dvs. și </span><span class="c6">CERT ACCOUNT SRL</span><span
              class="c0">&nbsp;sunt înlocuite prin prevederile prezentelor termene și condiții. </span></p>
          <p class="c3"><span class="c0">Dacă nu sunteți de acord sau nu acceptați, fără limitări sau calificări, Condițiile
              de
              Utilizare ale acestui Site, vă rugăm să nu folosiți acest site.</span></p>
          <p class="c3"><span class="c0">2. PROPRIETATEA CONȚINUTULUI </span></p>
          <p class="c3"><span class="c0">Website-ul și tot ceea ce cuprinde acesta, incluzând fără limitare toate textele și
              imaginile (“conținut”) sunt în proprietatea și sub dreptul de autor (copyright) al :</span></p>
          <p class="c3"><span class="c6">CERT ACCOUNT SRL</span><span>, cu sediul in Str. Cpt. Ion Garbea, Nr.26, Bl.Tip.Lama,
              Sc.B, Et.2, Ap.B27, Sector 5 Bucuresti, înregistrată la Registrul Comerțului sub J40/2119/2015 | având cod
              fiscal
              34141985, cu toate drepturile rezervate cu excepția cazului în care nu este altfel specificat. Orice conținut
              care
              constă într-o marcă, logo, sau marca de serviciu reprezintă marcă înregistrată și neînregistrată a </span><span
              class="c6">Furnizorului</span><span class="c0">. Este strict interzisă utilizarea oricărui conținut, cu excepția
              celor prevăzute în condițiile de utilizare, fără permisiunea în scris a proprietarului “conținutului”. </span>
          </p>
          <p class="c3"><span>De asemenea, vă informăm că </span><span class="c6">Furnizorul</span><span class="c0">&nbsp;își
              va
              asigura și impune în mod hotărât recunoașterea drepturilor de proprietate intelectuală în conformitate cu legile
              în vigoare, ajungând dacă este cazul la acționarea celor vinovați de încălcarea dreptului de proprietate
              intelectuală în judecată prin instanțele penale.</span></p>
          <p class="c3"><span class="c0">3. UTILIZAREA SITE-ULUI </span></p>
          <p class="c3"><span class="c6">Furnizorul</span><span class="c0">&nbsp;acordă permisiunea de a utiliza website-ul în
              următoarele condiții: </span></p>
          <ul class="c7 lst-kix_h1pgrylmxdb2-0 start">
            <li class="c2"><span class="c0">Puteți descărca conținutul, însă doar pentru folosul personal și ne-comercial și
                cu
                condiția de a vă conforma cu informațiile referitoare la dreptul de autor (copyright) și alte drepturi de
                proprietate intelectuală cuprinse în conținut; </span></li>
            <li class="c2"><span>Nu aveți permisiunea să modificați, să copiați (cu excepția celor mai sus menționate), să
                transmiteți, să expuneți, să refolosiți, să reproduceți, să publicați, să autorizați, să acordați o licență de
                folosire, să creați lucrări derivate din, sau să transferați, să vindeți sau să folosiți conținutul în alt
                mod,
                fără acordul în scris al </span><span class="c6">Furnizorului</span><span>.</span></li>
          </ul>
          <p class="c3"><span class="c0">4. CONFIDENȚIALITATE </span></p>
          <p class="c3"><span class="c0">Orice date cu caracter personal precum: numele, adresa, numărul de telefon sau adresa
              de e-mail a dumneavoastră pe care o transmiteți pe website, prin poșta electronică sau prin altă modalitate vor
              fi
              folosite în conformitate cu Politica de Confidențialitate. </span></p>
          <p class="c3"><span class="c0">5. LIPSA GARANȚIILOR </span></p>
          <p class="c3"><span class="c0">Întreg conținutul acestui website poate fi modificat și vă este oferit ”ca atare”
              fără
              a se oferi nici o garanție de nici un fel, fie aceasta expresă sau implicită. </span></p>
          <p class="c3"><span class="c0">6. EXONERAREA DE RĂSPUNDERE </span></p>
          <p class="c3"><span>Utilizarea acestui website este în totalitate pe răspunderea dumneavoastră. </span><span
              class="c6">Furnizorul</span><span>, funcționarii, directorii, agenții sau orice altă parte implicată în
              conceperea, producerea sau oferirea website-ului nu sunt răspunzătoare pentru daune directe sau indirecte, de
              orice natură ce ar rezulta din sau în legătură cu utilizarea acestui website sau a conținutului său.
            </span><span class="c6">Furnizorul</span><span class="c0">&nbsp;nu își asumă nici o responsabilitate, și nu va fi
              răspunzătoare
              pentru nici o daună sau viruși care ar putea să vă infecteze computerul sau alte bunuri în urma accesării sau
              utilizării acestui website, sau descărcării oricărui material, informații, text, imagini video sau audio de pe
              acest website. </span></p>
          <p class="c3"><span class="c0">7. LINK-URI PE SITE-URILE UNEI TERȚE PĂRȚI </span></p>
          <p class="c3"><span>Site-ul poate conține link-uri către alte site-uri aflate în proprietatea sau operate de alte
              părți decât </span><span class="c6">Furnizorul</span><span>. Astfel de link-uri vă sunt furnizate pentru a le
              folosi numai dacă veți dori aceasta.</span><span class="c6">Furnizorul</span><span class="c0">&nbsp;nu
              controlează
              și nu este răspunzătoare pentru conținutul și condițiile de confidențialitate sau securitate și de
              funcționalitatea acestor site-uri. </span></p>
          <p class="c3"><span>Fără a se limita la cele mai sus menționate, </span><span class="c6">Furnizorul</span><span
              class="c0">&nbsp;își declină în mod special orice răspundere dacă aceste site-uri: </span></p>
          <ul class="c7 lst-kix_noxap83r5ox1-0 start">
            <li class="c4"><span class="c0">Încalcă drepturile de proprietate intelectuală ale unei terțe părți; </span></li>
            <li class="c4"><span class="c0">Sunt inexacte, incomplete sau conțin informații înșelătoare; </span></li>
            <li class="c4"><span class="c0">Nu au caracter comercial sau nu răspund îndeplinirii unui anumit scop; </span>
            </li>
            <li class="c4"><span class="c0">Nu oferă o securitate adecvată; </span></li>
            <li class="c4"><span class="c0">Conțin viruși sau alte elemente cu caracter distructiv; </span></li>
            <li class="c2"><span class="c0">Sunt licențioase sau calomnioase. </span></li>
          </ul>
          <p class="c3"><span class="c0">8. POLITICA FIȘIERELOR COOKIE </span></p>
          <p class="c3"><span class="c0">Un cookie este un fișier text care conține bucăți de date, colectate atunci când
              vizitați un website. Este proiectat pentru a ajuta website-urile să identifice activitatea trecută a
              utilizatorilor. Acest lucru poate include acțiunea de a urmări dacă ați făcut click pe link-uri speciale sau
              pagini, dacă v-ați conectat la profilul dumneavoastră, sau dacă ați citit anumite pagini într-o perioadă de mai
              multe luni. </span></p>
          <p class="c3"><span class="c0">Există diferite tipuri de cookie-uri și fără ele website-urile nu ar putea funcționa
              în
              modul în care v-ați obișnuit să le utilizați. </span></p>
          <p class="c3"><span class="c0">Website-ul www.lukinstall.ro utilizează cookie-uri speciale pentru a va oferi cea
              mai
              bună experiență posibilă și sunt utilizate doar acele cookie-uri pe care le considerăm necesare și utile.
            </span>
          </p>
          <p class="c3"><span class="c0">Va rugam sa consultati pagina dedicata Politicii de Cookie. Vă explicăm ce tipuri de
              cookie-uri sunt folosite pe acest website, astfel încât să puteți decide dacă sunteți mulțumit, dacă doriți să
              ștergeți cookie-urile existente sau chiar dezactiva folosirea cookie-urilor atunci când vizualizați website-ul
              nostru. </span></p>
          <p class="c3"><span class="c0">9. REVIZUIRI ALE ACESTOR TERMENE ȘI CONDIȚII </span></p>
          <p class="c3"><span class="c6">Furnizorul</span><span class="c0">&nbsp;poate, în orice moment și fără notificare
              prealabilă, să revizuiască aceste termene și condiții prin actualizarea acestora. Sunteți obligat să respectați
              oricare și toate astfel de revizuiri și de aceea va trebui să vizitați această pagină a site-ului nostru în mod
              periodic pentru a lua la cunoștință condițiile de utilizare actualizate. </span></p>
          <p class="c3"><span class="c1">Legislație aplicabilă și Jurisdicție </span></p>
          <p class="c3"><span class="c0">Aceste termene și condiții și utilizarea acestui website sunt guvernate de legile din
              România. Instanțele competente din România vor avea jurisdicție exclusivă asupra oricăror și tuturor disputelor
              ce
              vor apărea din sau se vor referi la sau vor fi în legătură cu prevederile condițiilor de utilizare și/sau
              conținutul site-ului sau în cazul disputelor în care aceste termene și condiții și/sau acest website vor fi
              considerate fapte relevante pentru astfel de dispute.</span></p>
          <hr>
          <p class="c3 c11"><span class="c0"></span></p>
          <p class="c3"><span class="c0">Pentru orice tip de întrebare sau nelămurire, vă rugăm să ne contactați folosind
              următoarele date:</span></p>
          <p class="c3"><span class="c6">Email:</span><span>&nbsp;</span><span class="c8"><a class="c12"
                href="mailto:contact@lukinstall.ro">contact@lukinstall.ro</a></span><span class="c0">&nbsp;</span></p>
          <p class="c3"><span class="c6">Telefon</span><span class="c0">: 0739.913.168</span></p>
          <p class="c3"><span class="c6">Adresa:</span><span class="c0">&nbsp;Str. Cpt. Ion Garbea, Nr.26, Bl.Tip.Lama, Sc.B,
              Et.2, Ap.B27, Sector 5 Bucuresti</span></p>
          <p class="c9"><span class="c0"></span></p>
        </div>
      </div>
    </div>
  </div>


  
