<div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
  <div class="container position-relative">
    <div class="col block-centered text-align-center lg-7 md-12">
      <h1>Contact</h1>
    </div>
  </div><img src="/assets/images/header2.svg" alt="" class="header-image style3">
</div>



<div class="section has-bg-accent">
  <div class="container is-narrow">
    <div class="col lg-12">
      <div class="c-cta1 style2">
        <div class="md-margin-bottom cta-text">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" [formGroup]="formContact" (ngSubmit)="submit()">
              <div class="container container-nested">
                <div class="col lg-6 sm-12">
                  <div class="size-h2 max-width-650px margin-bottom">Hai sa vorbim!<br></div>
                  <div>
                    <p>
                      <strong>Adresa:</strong> Strada Europa, Nr1, Bloc A9, Scara 1, Apartament 302, Complex Cosmopolis,
                      Stefanestii de
                      Jos.
                    </p>
                  </div>
                  <div class="contact-details">
                    <a href="tel:+40724374126"><img src="/assets/images/phone--1.svg" alt=""> 0724374126</a> <br>
                    <a href="tel:+40739913168"><img src="/assets/images/phone--2.svg" alt="">0739913168</a><br>
                    <a href="mailto:birou@lukinstall.ro"><img src="/assets/images/email.svg" alt="">birou@lukinstall.ro</a><br>
                  </div>
                </div>
                <div class="col lg-1"></div>
                <div class="col no-margin-bottom lg-5 sm-12">
                  <input formControlName="name" type="text" class="form-input-text w-input" maxlength="256" name="name" data-name="name"
                    placeholder="Nume" id="name">
                  <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <div *ngIf="f.name.errors.required">Introduceti numele</div>
                    <div *ngIf="f.name.errors.minlength">Numele trebuie sa contina cel putin 3 litere</div>
                  </div>

                  <select name="categories" id="categories" formControlName="categories" [(ngModel)]="categories" class="form-select w-select" placeholder="Esti interesat de:">
                    <option value="-1" [disabled]="true" [selected]="true">Ma intereseaza:</option>
                    <option value="Contabilitate SRL">Contabilitate SRL</option>
                    <option value="Salarizare si Resurse Umane">Salarizare si Resurse Umane</option>
                    <option value="Consultanta Fiscala">Consultanta Fiscala</option>
                    <option value="Contabilitate PFA, II, IF">Contabilitate PFA, II, IF</option>
                  </select>

                  <input formControlName="phone" type="phone" class="form-input-text w-input" maxlength="256" name="phone" data-name="phone"
                    placeholder="Telefon" id="phone" required="">
                  <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                    <div *ngIf="f.phone.errors.required">Introduceti numarul</div>
                    <div *ngIf="f.phone.errors.pattern">Telefonul nu are formatul corect</div>
                  </div>

                  <input formControlName="email" type="email" class="form-input-text w-input" maxlength="256" name="email" data-name="email"
                    placeholder="Email" id="email" required="">
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">Introduceti emailul</div>
                    <div *ngIf="f.email.errors.minlength">Formatul nu este corect</div>
                    <div *ngIf="f.email.errors.required">Formatul nu este corect</div>
                  </div>

                  <button [disabled]="!formContact.valid" type="submit" class="button-primary w-button">Trimite</button>
                </div>
              </div>
            </form>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
