<div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
    <div class="container position-relative">
      <div class="col block-centered text-align-center lg-7 md-12">
        <h1>CONTABILITATE PFA, II, IF</h1>
      </div>
    </div><img src="/assets/images/header2.svg" alt="" class="header-image style3">
  </div>
  <div class="section padding-bottom-extra">
    <div class="container flex-horizontal">
      <div class="col lg-7 md-12 no-margin-bottom-lg">
        <div target="_blank" class="rich-text-block no-margin-bottom-lg w-richtext">
          <p>In spatele unei afaceri de succes sta de cele mai multe ori o idee grozava. Din pacate, multe dintre ele nu se concretizeaza niciodata, din cauza birocratiei si in lipsa unui sprijin profesionist.</p>

          <p>Va putem oferi urmatoarele servicii de contabilitate PFA, II, IF:</p>

          <ul>
            <li>Evidenta contabila in partida simpla</li>
            <li>Depunerea declaratiilor lunare sau trimestriale si intocmirea ordinelor de plata aferente</li>
            <li>Intocmiea registrului de Incasari si Plati</li>
            <li>Reprezentarea la administratia finantelor publice pentru diverse operatiuni</li>
            <li>Acordarea de asistenta in timpul operatiunilor de control.</li>
          </ul>
          <h2>Firma de contabilitate PFA in Bucuresti si Ilfov</h2>
          <p>De obicei, relatia cu clientii nostri incepe printr-o discutie la o cafea sau cu un apel telefonic. 
            Sfaturile primite de la profesionisti va pot ajuta la transformarea ideilor in afaceri pe viata.
            </p>

          <h3>Contabilitate PFA cu costuri minime</h3>
          <p>Cei mai multi oameni evita sau amana deschiderea unei firme din cauza ca drumul de la start la finish poate fi destul de intortocheat pentru un necunoscator. 
            Pentru un specialist, acest traseu - de la idee la firma - se face din memorie, iar atunci cand intervin schimbari, se adapteaza rapid. 
            Serviciile noastre sunt bazate pe calitate si experienta, de aceea costurile sunt avantajoase, transparente si justificate.
            </p>
            <h4>Consultanta gratuita pe toata durata colaborarii</h4>
            <p>Sunt atat de multe idei bune care ar putea sta la baza unor afaceri realmente de succes! Insa sunt atat de putine care se realizeaza pentru ca oamenii nu fac niciodata primul pas.
                Daca nu stii de unde sa incepi, echipa noastra va fi alaturi de tine si iti va oferi <u>cele mai bune variante pentru tine</u>, tinand cont de industria din care faci parte si tipul de business pe care vrei sa-l dezvolti.</p>
        </div>
      
      </div>
      <div class="col lg-1 no-margin-bottom">
        <div class="vertical-divider"></div>
      </div>
      <div class="col lg-4 md-12 no-margin-bottom-lg">
        <app-services-sidebar></app-services-sidebar>
        <app-quote-sidebar></app-quote-sidebar>
      </div>
    </div>
  </div>
  