.featured-section .inner-container .featured-block {
    img {
      height: 60px;
    }
  
    h5 {
      font-size: 20px;
    }
  }

  h3, h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 80px;
    strong {
        margin: 0 16px;
    }
}

.featured-block-three .inner-box .icon-box img {
    height: 50px;
}


.featured-blocks {
    position: relative;
    padding-top: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #e4e6e9;
    h4 {
        margin: 55px 0;
    }

    .help-widget {
        margin-bottom: 20px;
    }
    .widget-inner {
        h3 {
            display: block;
        }
    }
}