.c-gridgallery1__image-2 {


  &.img3 {
    background-image: url(/assets/images/servicii-contabilitate-completa.jpg);
  }

  &.img4 {
    background-image: url(/assets/images/servicii-salarizare-si-resurse-umane.jpg);
  }

  &.img5 {
    background-image: url(/assets/images/infiintari-firme.jpg);
  }

  &.img6 {
    background-image: url(/assets/images/servicii-consultanta-financiara.jpg);
    
  }

}


.link-block-2 {
  .c-gridgallery1__image-2 {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all 380ms;
  }

  &:hover {
    .c-gridgallery1__image-2 {
      transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
    }
  }

  .button-primary {
    width: 50%;
    text-align: center;
    margin: 20px auto;
  }
}

@media (max-width: 479px) {
  .button-primary {
    flex: 0;
  }
}
