.lst-kix_etbdap1boa5e-0>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-0
}

ol.lst-kix_etbdap1boa5e-5.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-5 0
}

.lst-kix_39jsau88sb3-7>li:before {
  content: "\0025cb  "
}

.lst-kix_39jsau88sb3-4>li:before {
  content: "\0025cb  "
}

.lst-kix_39jsau88sb3-8>li:before {
  content: "\0025a0  "
}

.lst-kix_39jsau88sb3-3>li:before {
  content: "\0025cf  "
}

.lst-kix_hyupy0mfizma-0>li:before {
  content: "\0025cf  "
}

.lst-kix_hyupy0mfizma-1>li:before {
  content: "\0025cb  "
}

.lst-kix_39jsau88sb3-1>li:before {
  content: "\0025cb  "
}

.lst-kix_39jsau88sb3-2>li:before {
  content: "\0025a0  "
}

.lst-kix_39jsau88sb3-5>li:before {
  content: "\0025a0  "
}

.lst-kix_39jsau88sb3-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_hyupy0mfizma-5 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-0>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-0, decimal) ". "
}

ol.lst-kix_etbdap1boa5e-4 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-4 {
  list-style-type: none
}

ol.lst-kix_etbdap1boa5e-5 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-7 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-1>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-1, lower-latin) ". "
}

ol.lst-kix_etbdap1boa5e-6 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-6 {
  list-style-type: none
}

ol.lst-kix_etbdap1boa5e-7 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-1 {
  list-style-type: none
}

ol.lst-kix_etbdap1boa5e-8 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-0 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-3 {
  list-style-type: none
}

ul.lst-kix_hyupy0mfizma-2 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-4>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-4, lower-latin) ". "
}

.lst-kix_etbdap1boa5e-3>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-3, decimal) ". "
}

.lst-kix_etbdap1boa5e-2>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-2, lower-roman) ". "
}

ul.lst-kix_hyupy0mfizma-8 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-8>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-8, lower-roman) ". "
}

.lst-kix_etbdap1boa5e-7>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-7, lower-latin) ". "
}

.lst-kix_39jsau88sb3-0>li:before {
  content: "\0025cf  "
}

.lst-kix_etbdap1boa5e-5>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-5, lower-roman) ". "
}

ol.lst-kix_etbdap1boa5e-0 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-6>li:before {
  content: ""counter(lst-ctn-kix_etbdap1boa5e-6, decimal) ". "
}

ol.lst-kix_etbdap1boa5e-1 {
  list-style-type: none
}

ol.lst-kix_etbdap1boa5e-2 {
  list-style-type: none
}

ol.lst-kix_etbdap1boa5e-3 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-2 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-3 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-0 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-1 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-8 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-6 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-7 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-4 {
  list-style-type: none
}

ul.lst-kix_stqi6m7xq8u-5 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-4 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-3 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-2 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-1 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-8 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-7 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-6 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-5 {
  list-style-type: none
}

ul.lst-kix_hpxrh123qdqz-0 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-5 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-4 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-3 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-2 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-1 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-6>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-6
}

ul.lst-kix_48gqio77fzob-0 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-6 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-5 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-8 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-7 {
  list-style-type: none
}

.lst-kix_48gqio77fzob-2>li:before {
  content: "\0025a0  "
}

.lst-kix_48gqio77fzob-0>li:before {
  content: "\0025cf  "
}

.lst-kix_48gqio77fzob-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_etbdap1boa5e-4.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-4 0
}

.lst-kix_etbdap1boa5e-4>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-4
}

.lst-kix_48gqio77fzob-6>li:before {
  content: "\0025cf  "
}

.lst-kix_48gqio77fzob-8>li:before {
  content: "\0025a0  "
}

.lst-kix_s0sd2hp1w1mm-3>li:before {
  content: "\0025cf  "
}

.lst-kix_s0sd2hp1w1mm-5>li:before {
  content: "\0025a0  "
}

.lst-kix_xv50bs5odh5i-8>li:before {
  content: "\0025a0  "
}

.lst-kix_hyupy0mfizma-7>li:before {
  content: "\0025cb  "
}

.lst-kix_s0sd2hp1w1mm-7>li:before {
  content: "\0025cb  "
}

.lst-kix_hyupy0mfizma-3>li:before {
  content: "\0025cf  "
}

.lst-kix_d8v56o9l508q-1>li:before {
  content: "\0025cb  "
}

.lst-kix_xv50bs5odh5i-4>li:before {
  content: "\0025cb  "
}

.lst-kix_hpxrh123qdqz-7>li:before {
  content: "\0025cb  "
}

.lst-kix_hpxrh123qdqz-5>li:before {
  content: "\0025a0  "
}

.lst-kix_xv50bs5odh5i-6>li:before {
  content: "\0025cf  "
}

.lst-kix_s0sd2hp1w1mm-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_etbdap1boa5e-7.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-7 0
}

.lst-kix_hyupy0mfizma-5>li:before {
  content: "\0025a0  "
}

.lst-kix_d8v56o9l508q-3>li:before {
  content: "\0025cf  "
}

.lst-kix_hpxrh123qdqz-1>li:before {
  content: "\0025cb  "
}

.lst-kix_hpxrh123qdqz-3>li:before {
  content: "\0025cf  "
}

.lst-kix_etbdap1boa5e-5>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-5
}

ol.lst-kix_etbdap1boa5e-6.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-6 0
}

ul.lst-kix_xv50bs5odh5i-0 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-2 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-1 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-4 {
  list-style-type: none
}

ul.lst-kix_xv50bs5odh5i-3 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-8 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-7 {
  list-style-type: none
}

ul.lst-kix_48gqio77fzob-6 {
  list-style-type: none
}

.lst-kix_stqi6m7xq8u-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_etbdap1boa5e-8.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-8 0
}

.lst-kix_stqi6m7xq8u-0>li:before {
  content: "\0025cf  "
}

.lst-kix_stqi6m7xq8u-6>li:before {
  content: "\0025cf  "
}

.lst-kix_stqi6m7xq8u-5>li:before {
  content: "\0025a0  "
}

.lst-kix_stqi6m7xq8u-2>li:before {
  content: "\0025a0  "
}

.lst-kix_stqi6m7xq8u-4>li:before {
  content: "\0025cb  "
}

.lst-kix_stqi6m7xq8u-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_etbdap1boa5e-2.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-2 0
}

.lst-kix_d8v56o9l508q-8>li:before {
  content: "\0025a0  "
}

.lst-kix_d8v56o9l508q-5>li:before {
  content: "\0025a0  "
}

.lst-kix_d8v56o9l508q-6>li:before {
  content: "\0025cf  "
}

.lst-kix_d8v56o9l508q-7>li:before {
  content: "\0025cb  "
}

.lst-kix_xv50bs5odh5i-2>li:before {
  content: "\0025a0  "
}

.lst-kix_xv50bs5odh5i-0>li:before {
  content: "\0025cf  "
}

.lst-kix_xv50bs5odh5i-1>li:before {
  content: "\0025cb  "
}

.lst-kix_etbdap1boa5e-1>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-1
}

.lst-kix_etbdap1boa5e-3>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-3
}

ol.lst-kix_etbdap1boa5e-3.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-3 0
}

.lst-kix_z59brvl7r1vu-0>li:before {
  content: "\0025cf  "
}

.lst-kix_z59brvl7r1vu-1>li:before {
  content: "\0025cb  "
}

.lst-kix_z59brvl7r1vu-2>li:before {
  content: "\0025a0  "
}

.lst-kix_z59brvl7r1vu-4>li:before {
  content: "\0025cb  "
}

.lst-kix_z59brvl7r1vu-3>li:before {
  content: "\0025cf  "
}

.lst-kix_z59brvl7r1vu-6>li:before {
  content: "\0025cf  "
}

.lst-kix_z59brvl7r1vu-8>li:before {
  content: "\0025a0  "
}

.lst-kix_z59brvl7r1vu-5>li:before {
  content: "\0025a0  "
}

.lst-kix_stqi6m7xq8u-8>li:before {
  content: "\0025a0  "
}

.lst-kix_stqi6m7xq8u-7>li:before {
  content: "\0025cb  "
}

.lst-kix_z59brvl7r1vu-7>li:before {
  content: "\0025cb  "
}

.lst-kix_48gqio77fzob-3>li:before {
  content: "\0025cf  "
}

.lst-kix_48gqio77fzob-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_z59brvl7r1vu-4 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-5 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-6 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-7 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-0 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-1 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-2 {
  list-style-type: none
}

.lst-kix_etbdap1boa5e-7>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-7
}

ul.lst-kix_z59brvl7r1vu-3 {
  list-style-type: none
}

ul.lst-kix_z59brvl7r1vu-8 {
  list-style-type: none
}

.lst-kix_hpxrh123qdqz-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_d8v56o9l508q-4 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-5 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-2 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-3 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-0 {
  list-style-type: none
}

.lst-kix_48gqio77fzob-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_d8v56o9l508q-1 {
  list-style-type: none
}

ol.lst-kix_etbdap1boa5e-1.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-1 0
}

ul.lst-kix_s0sd2hp1w1mm-0 {
  list-style-type: none
}

.lst-kix_48gqio77fzob-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_s0sd2hp1w1mm-1 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-8 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-6 {
  list-style-type: none
}

ul.lst-kix_d8v56o9l508q-7 {
  list-style-type: none
}

.lst-kix_s0sd2hp1w1mm-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_s0sd2hp1w1mm-8 {
  list-style-type: none
}

ul.lst-kix_s0sd2hp1w1mm-6 {
  list-style-type: none
}

ul.lst-kix_s0sd2hp1w1mm-7 {
  list-style-type: none
}

ul.lst-kix_s0sd2hp1w1mm-4 {
  list-style-type: none
}

ul.lst-kix_s0sd2hp1w1mm-5 {
  list-style-type: none
}

ul.lst-kix_s0sd2hp1w1mm-2 {
  list-style-type: none
}

ul.lst-kix_s0sd2hp1w1mm-3 {
  list-style-type: none
}

.lst-kix_s0sd2hp1w1mm-0>li:before {
  content: "\0025cf  "
}

.lst-kix_s0sd2hp1w1mm-8>li:before {
  content: "\0025a0  "
}

.lst-kix_s0sd2hp1w1mm-6>li:before {
  content: "\0025cf  "
}

.lst-kix_hyupy0mfizma-8>li:before {
  content: "\0025a0  "
}

.lst-kix_xv50bs5odh5i-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_etbdap1boa5e-0.start {
  counter-reset: lst-ctn-kix_etbdap1boa5e-0 0
}

.lst-kix_hyupy0mfizma-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hyupy0mfizma-4>li:before {
  content: "\0025cb  "
}

.lst-kix_d8v56o9l508q-0>li:before {
  content: "\0025cf  "
}

.lst-kix_d8v56o9l508q-2>li:before {
  content: "\0025a0  "
}

.lst-kix_etbdap1boa5e-2>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-2
}

.lst-kix_hpxrh123qdqz-6>li:before {
  content: "\0025cf  "
}

.lst-kix_xv50bs5odh5i-5>li:before {
  content: "\0025a0  "
}

.lst-kix_hyupy0mfizma-6>li:before {
  content: "\0025cf  "
}

.lst-kix_d8v56o9l508q-4>li:before {
  content: "\0025cb  "
}

.lst-kix_s0sd2hp1w1mm-2>li:before {
  content: "\0025a0  "
}

.lst-kix_hpxrh123qdqz-4>li:before {
  content: "\0025cb  "
}

.lst-kix_xv50bs5odh5i-7>li:before {
  content: "\0025cb  "
}

.lst-kix_hpxrh123qdqz-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_39jsau88sb3-8 {
  list-style-type: none
}

.lst-kix_hpxrh123qdqz-0>li:before {
  content: "\0025cf  "
}

.lst-kix_etbdap1boa5e-8>li {
  counter-increment: lst-ctn-kix_etbdap1boa5e-8
}

ul.lst-kix_39jsau88sb3-7 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-6 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-5 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-4 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-3 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-2 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-1 {
  list-style-type: none
}

ul.lst-kix_39jsau88sb3-0 {
  list-style-type: none
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c19 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  margin-left: 36pt;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  padding-right: 0pt
}

.c10 {
  border-right-style: solid;
  padding-top: 0pt;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.4;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #ffffff;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: justify;
  padding-right: 0pt
}

.c27 {
  border-right-style: solid;
  border-top-width: 0pt;
  border-right-width: 0pt;
  padding-left: 0pt;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-bottom-style: solid;
  padding-right: 0pt
}

.c6 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c8 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c0 {
  color: #231f20;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11.5pt;
  font-family: "Arial";
  font-style: normal
}

.c16 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c21 {
  background-color: #ffffff;
  padding-top: 11pt;
  padding-bottom: 11pt;
  line-height: 1.3999999999999997;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c26 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c12 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c36 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal
}

.c17 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c1 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 11pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c23 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c31 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c29 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c14 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial"
}

.c37 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-family: "Arial"
}

.c3 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  text-align: justify
}

.c32 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c34 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c18 {
  margin-left: 21.3pt;
  padding-left: 0pt
}

.c7 {
  color: inherit;
  text-decoration: inherit
}

.c13 {
  padding: 0;
  margin: 0
}

.c33 {
  margin-left: 53pt;
  padding-left: 0pt
}

.c20 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c5 {
  color: #231f20;
  font-size: 11.5pt
}

.c22 {
  margin-left: 36pt;
  text-indent: -18pt
}

.c24 {
  margin-left: 36pt
}

.c28 {
  margin-left: 21.3pt
}

.c9 {
  font-weight: 700
}

.c25 {
  color: #231f20
}

.c35 {
  font-size: 11pt
}

.c30 {
  height: 20pt
}

.c11 {
  font-style: italic
}

.c2 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}


