<div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
  <div class="container position-relative">
    <div class="col block-centered text-align-center lg-7 md-12">
      <h1>Servicii de Contabilitate SRL</h1>
    </div>
  </div><img src="/assets/images/header2.svg" alt="" class="header-image style3">
</div>
<div class="section padding-bottom-extra">
  <div class="container flex-horizontal">
    <div class="col lg-7 md-12 no-margin-bottom-lg">
      <div target="_blank" class="rich-text-block no-margin-bottom-lg w-richtext">
        <p>Echipa noastra va pune la dispozitie solutii complete si eficiente, personalizate in functie de necesitatile
          reale de business.
        </p>
        <ul>
          <li>Evidenta contabila completa <br></li>
          <li>Depunerea declaratiilor lunare sau trimestriale si intocmirea ordinelor de plata aferente<br></li>
          <li>Reprezentarea la administratia finantelor publice pentru diverse operatiuni, cum ar fi inregistrarea
            societatii in scopuri de TVA, achizitia de registre speciale - REGISTRU UNIC DE CONTROL, inregistrarea
            fiscala a punctelor de lucru cu sau fara salariati, preschimbarea certificatelor de inregistrare in scopuri
            de TVA la diverse modificari inregistrare la Registrul Comertului.<br></li>
          <li>Intocmirea si depunerea bilantului contabil anual si semestrial<br></li>
          <li>Refacerea evidentei contabile<br></li>
          <li>Acordarea de asistenta in timpul operatiunilor de control.<br></li>
          <li>Intocmirea de situatii diverse pentru societatile de leasing sau banci.<br></li>


        </ul>
        <h2>Mentine controlul afacerii cu servicii de contabilitate completa</h2>
        <p>Contabilii nostri au calificarea si experienta necesara pentru a va ajuta sa pastrati sub control obligatiile
          de contabilitate, respectand in acelasi timp toate reglementarile, standardele si cerintele de raportare
          impuse de legislatia romana.
        </p>
        <h3>De ce sa alegi serviciile noastre de contabilitate?
        </h3>
        <ul class="c-checklist margin-bottom-double">
          <li class="c-checklist_item">Avem o echipa de specialisti calificati, formata atat din contabili si experti contabili, precum si
            consultanti fiscali, pregatiti sa actioneze ca parte integranta a afacerii tale.</li>
          <li class="c-checklist_item">Oferim toate avantajele, functionalitatea si experienta unei echipe interne, dar la costuri mult mai
            scazute prin externalizare.
          </li>
          <li class="c-checklist_item">Avem expertiza in numeroase domenii de activitate si o punem la dispozitia ta, indiferent daca
            administrezi un start-up, un IMM sau un business cu maturitate.
          </li>
        </ul>
      </div>
    
    </div>
    <div class="col lg-1 no-margin-bottom">
      <div class="vertical-divider"></div>
    </div>
    <div class="col lg-4 md-12 no-margin-bottom-lg">
      <app-services-sidebar></app-services-sidebar>
      <app-quote-sidebar></app-quote-sidebar>
    </div>
  </div>
</div>
