

@media (max-width: 479px) { 
    .section, img {
        margin: 80px 0;
    }
}

.block-centered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h1, h4 {
        flex-basis: 100%;
    }
}