.gallery-wrapper {
  text-align: center;
  margin-top: 50px;
  display: flex;

  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    margin: 0 auto;

    /* width: 500px;
       height: 400px;
       border-color: #4a89ff;*/
    @media (max-width: 479px) {
        width: 100%;
    }

  }
}
