.what-we-can-do {
    background-image: url('/assets/images/servicii-instalator-sanitar.jpg');
    background-size: cover;
    padding: 16px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            margin: 0;
        }

        ul {
            li {
                color: #fff;
            }
        }
    }
}

.what-we-can-do-after {
    padding: 60px 0;
    ul {
        li {
            color: #286DAF;
            font-size: 18px;
        }
    }
}

.icon-box {
    img {
        height: 60px;
    }
}