<app-slider></app-slider>
<div class="section">
  <div class="container flex-horizontal">
    <div class="col lg-4 flexv-space-between md-12">
      <div>
        <div class="pre-title">Cine suntem</div>
        <div class="size-h2 margin-bottom">Expert Conta - firma ta de contabilitate din Bucuresti <br><br>Pentru ca un
          antreprenor de succes are intotdeauna un partener de incredere, expert in contabilitate.</div>
        <div class="text-medium low-text-contrast">Mediul de afaceri din Romania poate fi uneori complicat si plin de
          provocari. Noi te sustinem cu solutiile potrivite, la momentul oportun.
        </div>
      </div>
      <a href="#" class="cta-link">
        <span class="margin-right">Hai sa vorbim</span>
        <span class="fa c-cta1_arrow-hovered"></span>
        <span class="fa c-cta1__arrow-normal"></span></a>
    </div>
    <div class="col lg-1 no-margin-bottom"></div>
    <div class="col lg-7 no-margin-bottom-lg md-12">
      <div class="container container-nested is-wrapping">
        <div class="col lg-6 md-12 flexh-align-top">
          <div class="c-iconbox1__icon">
            <img src="/assets/images/icon10.svg" alt=""></div>
          <div class="padding-top">
            <div class="size-h3 on-lg-margin-bottom">Specialisti</div>
            <div>Un expert contabil intotdeauna va fi la curent cu noutatile din zona contabila, pentru a-ti putea oferi
              servicii de calitate superioara. </div>
          </div>
        </div>
        <div class="col lg-6 md-12 md-margin-bottom-small flexh-align-top">
          <div class="c-iconbox1__icon">
            <img src="/assets/images/icon11.svg" alt=""></div>
          <div class="padding-top">
            <div class="size-h3 on-lg-margin-bottom">Siguranta</div>
            <div>Lucram cu softuri performante pentru a ne asigura ca toate datele tale sunt securizate.</div>
          </div>
        </div>
        <div class="col lg-6 md-12 md-margin-bottom-small flexh-align-top">
          <div class="c-iconbox1__icon">
            <img src="/assets/images/icon4.svg" alt=""></div>
          <div class="padding-top">
            <div class="size-h3 on-lg-margin-bottom">Experienta</div>
            <div>Avem un portofoliu de peste 100 de clienti multumiti din cele mai diverse domenii de activitate.</div>
          </div>
        </div>
        <div class="col lg-6 md-12 md-margin-bottom-small flexh-align-top">
          <div class="c-iconbox1__icon">
            <img src="/assets/images/icon7.svg" alt=""></div>
          <div class="padding-top">
            <div class="size-h3 on-lg-margin-bottom">Comunicare</div>
            <div>In orice business, timpul de reactie este esential. Iti oferim tot suportul de care ai nevoie, atunci
              cand ai nevoie.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section no-padding-top-bottom">
  <div class="container">
    <div class="col lg-12 no-margin-bottom">
      <div class="hr"></div>
    </div>
  </div>
</div>
<app-services></app-services>


<div class="section has-bg-accent position-relative">
  <div class="c-shadowtext">Solutii</div>
  <div class="container margin-bottom-quad">
    <div class="col lg-5 alignself-center md-12">
      <div class="pre-title">Solutii Pentru Afacerea Ta</div>
      <h2>De la profesionisti la profesionisti</h2>
      <p class="low-text-contrast text-medium">Ne-am specializat pe anumite domenii de activitate, pe care le deservim
        fara cusur.
        Totusi, nici celelalte industrii nu ne sunt straine, asa ca te rugam sa ne contactezi pentru a discuta despre
        afacerea ta.
      </p>
      <ul class="c-checklist margin-bottom-double">
        <li class="c-checklist_item">Avem experienta in minimizarea taxelor si a impozitelor, plus maximizarea
          profitului.</li>
        <li class="c-checklist_item">Colaborarea cu noi va ajuta sa evitati amenzile si penalitatile ce pot interveni
          din lipsa de informatie si neatentie.</li>
        <li class="c-checklist_item">Avem experienta in relationarea cu institutiile statului si institutiile
          financiar-fiscale.</li>
      </ul>

      <p class="low-text-contrast text-medium">Lasa cifrele, calculele si legislatia in seama noastra. Tu
        concentreaza-te pe dezvoltarea afacerii.</p>
      <!-- <a  href="#" class="button-primary animated w-inline-block">
        <div
         
          class="button-primary-text">View more</div>
        <div
        
          class="button-primary-text for-hover">let&#x27;s go <span class="fa margin-left"></span></div>
      </a> -->
    </div>
    <div class="col lg-1 no-margin-bottom"></div>
    <div class="col lg-6 md-12">
      <div class="w-layout-grid c-services">
        <a style="background-color:rgb(255,255,255)" href="#"
          class="c-services__card has-shadow has-hover-style-1 w-inline-block">
          <div class="c-services__card-outer">
            <div
              style="-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);color:rgb(85,101,117)"
              class="c-services__card-inner"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="64"
                alt="" class="margin-bottom">
              <h4 style="color:rgb(29,43,54)" class="c-services__header">HoReCa</h4>
              <div style="color: rgb(85, 101, 117);" class="margin-bottom is-body-text"> </div>
              <div class="iconfont"><em class="iconfont__no-italize"></em></div>
            </div>
          </div>
        </a>
        <a data-w-id="7890ee21-a296-58b8-3cc2-d2e7ceddf8ff" style="background-color:rgb(255,255,255)" href="#"
          class="c-services__card has-shadow has-hover-style-1 slidedown w-inline-block">
          <div class="c-services__card-outer">
            <div
              style="-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);color:rgb(85,101,117)"
              class="c-services__card-inner"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="64"
                alt="" class="margin-bottom">
              <h4 style="color:rgb(29,43,54)" class="c-services__header">Servicii</h4>
              <div style="color: rgb(85, 101, 117);" class="margin-bottom is-body-text"> </div>
              <div class="iconfont"><em class="iconfont__no-italize"></em></div>
            </div>
          </div>
        </a>
        <a style="background-color:rgb(255,255,255)" href="#"
          class="c-services__card has-shadow has-hover-style-1 w-inline-block">
          <div class="c-services__card-outer">
            <div
              style="-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);color:rgb(85,101,117)"
              class="c-services__card-inner"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="64"
                alt="" class="margin-bottom">
              <h4 style="color:rgb(29,43,54)" class="c-services__header">Comert</h4>
              <div style="color: rgb(85, 101, 117);" class="margin-bottom is-body-text"> </div>
              <div class="iconfont"><em class="iconfont__no-italize"></em></div>
            </div>
          </div>
        </a>
        <a style="background-color:rgb(255,255,255)" href="#"
          class="c-services__card has-shadow has-hover-style-1 slidedown w-inline-block">
          <div class="c-services__card-outer">
            <div
              style="-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);color:rgb(85,101,117)"
              class="c-services__card-inner"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="64"
                alt="" class="margin-bottom">
              <h4 style="color:rgb(29,43,54)" class="c-services__header">Imobiliare</h4>
              <div style="color: rgb(85, 101, 117);" class="margin-bottom is-body-text"> </div>
              <div class="iconfont"><em class="iconfont__no-italize"></em></div>
            </div>
          </div>
        </a>
        <a style="background-color:rgb(255,255,255)" href="#"
          class="c-services__card has-shadow has-hover-style-1 w-inline-block">
          <div class="c-services__card-outer">
            <div
              style="-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);color:rgb(85,101,117)"
              class="c-services__card-inner"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="64"
                alt="" class="margin-bottom">
              <h4 style="color:rgb(29,43,54)" class="c-services__header">Productie</h4>
              <div style="color: rgb(85, 101, 117);" class="margin-bottom is-body-text"> </div>
              <div class="iconfont"><em class="iconfont__no-italize"></em></div>
            </div>
          </div>
        </a>
        <a style="background-color:rgb(255,255,255)" href="#"
          class="c-services__card has-shadow has-hover-style-1 slidedown w-inline-block">
          <div class="c-services__card-outer">
            <div
              style="-webkit-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);color:rgb(85,101,117)"
              class="c-services__card-inner"><img src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="64"
                alt="" class="margin-bottom">
              <h4 style="color:rgb(29,43,54)" class="c-services__header">Logistica</h4>
              <div style="color: rgb(85, 101, 117);" class="margin-bottom is-body-text"> </div>
              <div class="iconfont"><em class="iconfont__no-italize"></em></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section position-relative" style="padding-bottom: 240px;">

  <div class="container">


    <div class="col lg-12 no-margin-bottom no-padding-lr">
      <div data-delay="3000" data-animation="slide" data-autoplay="1" data-easing="ease-out-quint" data-duration="1500"
        data-infinite="1" class="c-slider w-slider">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="container flexh-align-center">
              <div class="col no-margin-bottom lg-6 md-12 order-last"><img
                  src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="320" alt=""></div>
              <div class="col lg-1"></div>
              <div class="col no-margin-bottom lg-5 position-relative md-12">
                <div class="text-large weight-is-thin margin-bottom">Every financial decision involves relationships.
                  Every relationship involves financial decisions.</div>
                <div class="is-bold">Johny Baldon</div>
                <div class="text-small">CEO at Turus Berkarya</div>
                <div class="c-quote__marker">“</div>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="container flexh-align-center">
              <div class="col no-margin-bottom lg-6 md-12 order-last"><img
                  src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></div>
              <div class="col lg-1"></div>
              <div class="col no-margin-bottom lg-5 position-relative md-12">
                <div class="text-large weight-is-thin margin-bottom">Very happy with our new website very quick
                  turnaround and excellent customer service</div>
                <div class="is-bold">Christian Soilo</div>
                <div class="text-small">Managing Director @Semanding</div>
                <div class="c-quote__marker">“</div>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="container flexh-align-center">
              <div class="col no-margin-bottom lg-6 md-12 order-last"><img
                  src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="287" alt=""></div>
              <div class="col lg-1"></div>
              <div class="col no-margin-bottom lg-5 position-relative md-12">
                <div class="text-large weight-is-thin margin-bottom">I would highly recommend them! They always treat my
                  business as if she was one of theirs!</div>
                <div class="is-bold">Baharuddin Muamari</div>
                <div class="text-small">Executive Producer @Joyoboyo</div>
                <div class="c-quote__marker">“</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="hidden w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="c-slider__nav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </div>
  <div class="c-shadowtext">Ce spun<br>clientii</div>
</div>
<div class="section has-bg-accent position-relative">
  <div class="container">
    <div class="col block-centered lg-10 md-12">
      <div class="c-financial-finder text-align-center">

        <h2 class="text-align-center md-size-h3">Portofoliu</h2>


      </div>
    </div>
  </div>
  <div class="container">
    <div class="col lg-12">
      <div class="w-layout-grid c-grid4x2">
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
        <div class="fa-brand _70px"></div>
      </div>
    </div>
  </div>

</div>
<div class="section">

  <div class="container">
    <div class="col lg-3 md-6 xs-12">
      <div class="c-counter has-shadow is-featured">
        <div class="flexh-space-between flexh-align-center margin-bottom">
          <div class="weight-is-medium">Experienta</div><img src="https://via.placeholder.com/1000x600.png?text=IMAGE"
            width="32" alt="">
        </div>
        <div class="text-xlarge text-align-center">2011</div>
        <div class="text-align-center text-small">Anul in care ne-am inceput activitatea</div>
      </div>
    </div>
    <div class="col lg-3 md-6 xs-12">
      <div class="c-counter has-shadow">
        <div class="flexh-space-between flexh-align-center margin-bottom">
          <div class="weight-is-medium">Clienti</div><img src="https://via.placeholder.com/1000x600.png?text=IMAGE"
            width="32" alt="">
        </div>
        <div class="text-xlarge text-align-center is-heading-color">121</div>
        <div class="text-align-center text-small">Si inca numaram</div>
      </div>
    </div>
    <div class="col lg-3 md-6 xs-12">
      <div class="c-counter has-shadow">
        <div class="flexh-space-between flexh-align-center margin-bottom">
          <div class="weight-is-medium">Specializare</div><img src="https://via.placeholder.com/1000x600.png?text=IMAGE"
            width="32" alt="">
        </div>
        <div class="text-xlarge text-align-center is-heading-color">2014</div>
        <div class="text-align-center text-small">Am devenit experti contabili</div>
      </div>
    </div>
    <div class="col lg-3 md-6 xs-12">
      <div class="c-counter has-shadow">
        <div class="flexh-space-between flexh-align-center margin-bottom">
          <div class="weight-is-medium">Satisfactie</div><img src="https://via.placeholder.com/1000x600.png?text=IMAGE"
            width="32" alt="">
        </div>
        <div class="text-xlarge text-align-center is-heading-color">100%</div>
        <div class="text-align-center text-small">Colaboratori multumiti</div>
      </div>
    </div>
  </div>
</div>
<div class="section no-padding-top-bottom">
  <div class=" is-wide">
    <div class=" no-margin-bottom">
      <div class="c-imageblock-link img2">
        <div class="container container-nested h100">
          <div class="col lg-10 md-12">
            <form style="width: 50%" id="email-form-2" name="email-form-2" data-name="Email Form 2"
              class="c-vertical-form">
              <p class="form-group">
                <input type="text"
                  class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
                  maxlength="256" name="name" placeholder="Nume" id="name" required="">
              </p>
              <p>
                <input type="text"
                  class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
                  maxlength="256" name="email" placeholder="Email" id="email" required="">
              </p>
              <p>
                <input type="text"
                  class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
                  maxlength="256" name="phone" placeholder="Telefon" id="phone" required="">
              </p>
              <p>
                <textarea class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
                  name="message" rows="4" cols="150" placeholder="Mesaj" id="message" required=""></textarea>
              </p>
              <p><a  class="margin-left text-align-center button-primary is-small w-button">Trimite</a></p>
            </form>
          </div>
          <div class="col no-margin-bottom lg-2 md-12 is-body-text-color">
            <div class="c-imageblock-link__text margin-bottom">VREI O OFERTA PESONALIZATA?
            </div>
            <div class="margin-bottom-double on-dark">Suna pentru a obtine oferta</div>
            <a href="#" class="cta-link on-dark"><span class="margin-right">(0723) 922 213</span> <span
                class="fa c-cta1_arrow-hovered"></span> <span class="fa c-cta1__arrow-normal"></span></a>
            <div class="margin-bottom-double on-dark">Completeaza formularul alaturat</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

