.c-imageblock-link.img2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(/assets/images/6294.jpg);
}

.w-slide {
  .flexh-align-center {
    justify-content: center;
  }
}


.portfolio-images {
  display: flex;
  justify-content: space-around;

  img {
    height: 100px;
    width: auto;
  }
}

.c-vertical-form {
  width: 50%;
}

.testimonials {
  padding-bottom: 160px;
  padding-top: 160px;
}

@media (max-width: 479px) {
  .portfolio-images {
    flex-direction: column;

    img {
      width: 100%;
      margin: 8px;
    }
  }

  .c-vertical-form {
    width: 100%;
  }

  .testimonials {
    padding-bottom: 0;
  }
}




.security-section .icon {
  img {
    width: 23px;
  }
}

.security-section .images-column .image:last-child {
  position: absolute;
  right: 15px;
  bottom: -20px;
}

.call-to-action-section {
  .btn-style-two {
    &:hover {
      border-color: #183964;
    }

    &:before, &:after {
      border-color: #183964;
    }
    
  }
}


.testimonial-block {
  flex: 1;
  padding: 0 20px;
}

.video-gallery iframe {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.video-gallery .overlay-box {
  z-index: 3;
}