<div data-delay="3000" data-animation="slide" data-autoplay="1" data-easing="ease-out-quint" data-duration="1500"
  data-infinite="1" class="c-slider w-slider">
  <div class="w-slider-mask">
    <div class="w-slide">
      <div class="container flexh-align-center">
        <!-- <div class="col no-margin-bottom lg-6 md-12 order-last"><img
          src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="320" alt=""></div>
      <div class="col lg-1"></div> -->
        <div class="col no-margin-bottom lg-8 position-relative md-12">
          <div class="text-large weight-is-thin margin-bottom">Recomand cu cea mai mare incredere firma CERT
            ACCOUNT pentru serviciile de contabilitate si personal. Aici am intalnit oameni seriosi care isi fac
            treaba cu profesionalism.</div>
          <!-- <div class="is-bold">Johny Baldon</div>
        <div class="text-small">CEO at Turus Berkarya</div> -->
          <div class="c-quote__marker">“</div>
        </div>
      </div>
    </div>
    <div class="w-slide">
      <div class="container flexh-align-center">
        <!-- <div class="col no-margin-bottom lg-6 md-12 order-last"><img
          src="https://via.placeholder.com/1000x600.png?text=IMAGE" alt=""></div> -->
        <!-- <div class="col lg-1"></div> -->
        <div class="col no-margin-bottom lg-8 position-relative md-12">
          <div class="text-large weight-is-thin margin-bottom"> De-a lungul anilor am simtit ca avem in CERT
            ACCOUNT nu doar un simplu furnizor de servicii contabile, ci un adevarat partener care ne-a ajutat cu
            mult profesionalism in etapele de dezvoltare ale firmei noastre.</div>
          <!-- <div class="is-bold">Christian Soilo</div>
        <div class="text-small">Managing Director @Semanding</div> -->
          <div class="c-quote__marker">“</div>
        </div>
      </div>
    </div>
    <div class="w-slide">
      <div class="container flexh-align-center">
        <!-- <div class="col no-margin-bottom lg-6 md-12 order-last"><img
          src="https://via.placeholder.com/1000x600.png?text=IMAGE" width="287" alt=""></div>
      <div class="col lg-1"></div> -->
        <div class="col no-margin-bottom lg-8 position-relative md-12">
          <div class="text-large weight-is-thin margin-bottom">Calitatea ireprosabila a serviciilor prestate,
            raportul calitate-pret, promptitudinea si profesionalismul de care au dat dovada in abordarea
            lucrarilor ne-a adus consideratia fata de aceasta societate. Recomand cu incredere CERT ACCOUNT celor
            care vor cel mai bun contabil.
          </div>
          <!-- <div class="is-bold">Baharuddin Muamari</div>
        <div class="text-small">Executive Producer @Joyoboyo</div> -->
          <div class="c-quote__marker">“</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden w-slider-arrow-left">
    <div class="w-icon-slider-left"></div>
  </div>
  <div class="hidden w-slider-arrow-right">
    <div class="w-icon-slider-right"></div>
  </div>
  <div class="c-slider__nav w-slider-nav w-slider-nav-invert w-round"></div>
</div>
