<div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
  <div class="container position-relative">
    <div class="col block-centered text-align-center lg-7 md-12">
      <h1>Politica de confidentialite
      </h1>
    </div>
  </div><img src="/assets/images/header2.svg" alt="" class="header-image style3">
</div>
<div class="section padding-bottom-extra">
  <div class="container flex-horizontal">
    <div class="col lg-12 md-12 no-margin-bottom-lg">
      <div id="contents">
       
        <p class="c19"><span>POLITICA DE CONFIDENȚIALITATE A SITE-ULUI www.expert-conta.ro</span></p>
        <p class="c7"><span class="c1">Scopul acestei politici de confidențialitate este să vă explice ce date culegem,
            de ce le culegem și ce facem cu ele. </span></p>
        <p class="c9"><span class="c0">expert-conta </span><span class="c1">dorește să protejeze confidențialitatea
            utilizatorilor care vizitează site-ul nostru și facem toate demersurile necesare în acest sens. </span></p>
        <p class="c9"><span class="c1">Această pagină este o declarație de confidențialitate și este menită să informeze
            referitor la modalitățile în care se colectează date pe acest site, felul în care se folosesc aceste
            informații și cum vom proteja informațiile pe care utilizatorii aleg să ni le ofere.</span></p>
        <p class="c5"><span class="c1">Informațiile personale se definesc ca informații prin care un vizitator poate fi
            identificat sau acțiunile întreprinse pe site-ul expert-conta.ro pot fi identificate.</span></p>
        <p class="c5"><span class="c1">Această politică de confidențialitate se aplică exclusiv datelor colectate prin
            intermediul acestui site.</span></p>
        <p class="c5"><span class="c0">Colectarea datelor se face prin: </span></p>
        <ul class="c11 lst-kix_282g4bfiimqe-0 start">
          <li class="c5 c18"><span class="c1">Formularul de contact </span></li>
          <li class="c5 c18"><span class="c1">Modulul de comunicare WhatsApp</span></li>
        </ul>
        <p class="c10 c3 c21"><span class="c6 c0 c16">Datele cu caracter personal care sunt colectate prin intermediul
            acestui website, sunt folosite cu următoatele scopuri:</span></p>
        <ul class="c11 lst-kix_rrse4wd3fhdd-0 start">
          <li class="c10 c3 c18"><span class="c6 c0">Comunicarea</span><span class="c12 c6">&nbsp;directă cu clienții și
              potențialii clienți</span></li>
          <li class="c10 c3 c18"><span class="c6 c0">Facturarea </span><span class="c6 c12">produselor comandate </span>
          </li>
          <li class="c10 c3 c18"><span class="c6 c0">Informarea</span><span class="c12 c6">&nbsp;utilizatorilor cu
              privire la oferte/ promotii, statusul comenzilor, evaluarea comenzilor efectuate</span></li>
        </ul>
        <p class="c3"><span class="c4 c0">Protejarea informațiilor personale </span></p>
        <p class="c3"><span class="c1">Acest site și toată informația pe care o dezvălui pe acest site este colectată,
            depozitată și procesată în România. Permitem accesul la datele personale exclusiv angajaților și
            furnizorilor de servicii care au nevoie de ele pentru a asigura buna funcționare a acestui site și pentru
            livrarea produselor noastre. </span></p>
        <p class="c3"><span>Am implementat sisteme de securitate fizică, administrativă și tehnică pentru a proteja
            datele personale de accesul neautorizat. Cu toate acestea, pe cât de eficiente sunt sistemele noastre de
            securitate, niciun sistem nu este impenetrabil. Nu putem garanta impenetrabilitatea serviciilor noastre de
            securitate și nici faptul că informația transmisă către noi nu va fi interceptată în momentul în care este
            divulgată.</span></p>
        <p class="c3 c10"><span class="c6 c0">&nbsp;expert-conta </span><span class="c6">își asumă obligația de a
            administra datele personale furnizate de utilizatorii siteului nostru în condiții de siguranță și exclusiv
            pentru scopurile specificate, conform &nbsp;prevederilor</span><span class="c6 c0">&nbsp;Legii </span><span
            class="c0">2016/679/UE</span><span class="c12 c6">&nbsp;pentru protecția prelucrărării datelor cu caracter
            personal și libera circulație a acestor date.</span></p>
        <p class="c5"><span class="c4 c0">Conform regulamentului 2016/679/UE utilizatorii site-ului expert-conta.ro au
            următoarele drepturi:</span></p>
        <ul class="c11 lst-kix_e2o6okv5xh4d-0 start">
          <li class="c8"><span class="c0">Dreptul de acces</span><span class="c1">&nbsp;înseamnă că ai dreptul de a
              obține o confirmare din partea noastră că prelucrăm sau nu datele cu caracter personal care te privesc și,
              în caz afirmativ, acces la datele respective și la informații privind modalitatea în care sunt prelucrate
              datele.</span></li>
          <li class="c8"><span class="c0">Dreptul la portabilitatea datelor</span><span class="c1">&nbsp;se referă la
              dreptul de a primi datele personale într-un format structurat, utilizat în mod curent și care poate fi
              citit automat și la dreptul ca aceste date să fie transmise direct altui operator, dacă acest lucru este
              fezabil din punct de vedere tehnic.</span></li>
          <li class="c8"><span class="c0">Dreptul la opoziție</span><span class="c1">&nbsp;vizează dreptul de a te opune
              prelucrării datelor personale atunci când prelucrarea este necesară pentru îndeplinirea unei sarcini care
              servește unui interes public sau când are în vedere un interes legitim al operatorului. Atunci când
              prelucrarea datelor cu caracter personal are drept scop marketingul direct, ai dreptul de a te opune
              prelucrării în orice moment.</span></li>
          <li class="c8"><span class="c0">Dreptul la rectificare</span><span class="c1">&nbsp;se referă la corectarea,
              fără întârzieri nejustificate, a datelor cu caracter personal inexacte. Rectificarea va fi comunicată
              fiecărui destinatar la care au fost transmise datele, cu excepția cazului în care acest lucru se dovedește
              imposibil sau presupune eforturi disproporționate.</span></li>
          <li class="c8"><span class="c0">Dreptul la ștergerea datelor (“dreptul de a fi uitat”)</span><span
              class="c1">&nbsp;înseamnă că ai dreptul de a solicita ștergerea datelor cu caracter personal, fără
              întârzieri nejustificate, în cazul în care se aplică unul dintre următoarele motive: acestea nu mai sunt
              necesare pentru îndeplinirea scopurilor pentru care au fost colectate sau prelucrate; îți retragi
              consimțământul și nu există niciun alt temei juridic pentru prelucrare; te opui prelucrării și nu există
              motive legitime care să prevaleze; datele cu caracter personal au fost prelucrate ilegal; datele cu
              caracter personal trebuie șterse pentru respectarea unei obligații legale; datele cu caracter personal au
              fost colectate în legătură cu oferirea de servicii ale societății informaționale.</span></li>
          <li class="c8"><span class="c0">Dreptul la restricționarea prelucrării</span><span>&nbsp;poate fi exercitat în
              cazul în care persoana contestă exactitatea datelor, pe o perioadă care ne permite verificarea
              corectitudinii datelor; prelucrarea este ilegală, iar persoana se opune ștergerii datelor cu caracter
              personal, solicitând în schimb restricționarea; în cazul în care </span><span class="c0">Hero
              Print</span><span class="c1">&nbsp; nu mai are nevoie de datele cu caracter personal în scopul
              prelucrării, dar persoana i le solicită pentru constatarea, exercitarea sau apărarea unui drept în
              instanță; în cazul în care persoana s-a opus prelucrării pentru intervalul de timp în care se verifică
              dacă drepturile legitime ale operatorului prevalează asupra celor ale persoanei respective.</span></li>
        </ul>
        <p class="c20"><span class="c1">Toate aceste drepturi pot sa fi exercitate printr-o cerere scrisă, semnată și
            datată, transmisă la sediul nostru sau la adresa de email de mai jos.</span></p>
        <p class="c5 c14"><span class="c4 c0"></span></p>
        <p class="c5"><span class="c0">Întrebări sau nelămuriri?</span></p>
        <p class="c2"><span class="c1">Pentru orice tip de întrebare sau nelămurire, vă rugăm să ne contactați folosind
            următoarele date:</span></p>
        <p class="c2"><span class="c0">Email:</span><span>&nbsp;</span><span class="c13"><a class="c24"
              href="mailto:contact@expert-conta.ro">contact@expert-conta.ro</a></span><span class="c1">&nbsp;</span></p>
        <p class="c2"><span class="c0">Telefon</span><span class="c1">: 0739.913.168</span></p>
        <p class="c2"><span class="c0">Adresa:</span><span>&nbsp;Str. Cpt. Ion Garbea, Nr.26, Bl.Tip.Lama, Sc.B, Et.2,
            Ap.B27, Sector 5 Bucuresti</span></p>
        <p class="c5 c14"><span class="c1"></span></p>
        <p class="c7 c14"><span class="c4 c0"></span></p>
        <p class="c14 c22"><span class="c1"></span></p>
        <p class="c14 c23"><span class="c1"></span></p>
        <p class="c15 c14"><span class="c1"></span></p>
        <p class="c14 c15"><span class="c1"></span></p>
        <p class="c15 c14"><span class="c1"></span></p>
      </div>
    </div>
  </div>
</div>
