.has-bg-color {
    background-image: url('/assets/images/CONTACT-SERVICII-CONTABILITATE.jpg');
    background-size: cover;
}

.box {
    &.no-padding {
        padding: 0;
        height: auto;
        margin-bottom: 20px;
    }
}