<div class="box has-bg-color style2">
    <div class="size-h3 on-dark margin-bottom">Ai vreo îndoială în alegerea serviciului financiar adecvat?</div>
    <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      class="button-primary animated block-centered is-dark w100 w-inline-block">
     
      <div
        
        class="button-primary-text">cere oferta</div>
      <div
        
        class="button-primary-text for-hover">hai sa vorbim <span class="fa margin-left"></span></div>
    </a>
  </div>