
h3, h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 80px;
    strong {
        margin-left: 16px;
    }
}

.security-block .inner-box .lower-content .upper-box {
    padding: 0;

    h5 {
        a {
            color: #E83943;
        }
    }
}

.text {
    ul {
        li {
            span {
                color: #E83943;
            }
        }
    }
}

.security-block .inner-box:hover .lower-content .text, .security-block .inner-box:hover .lower-content .upper-box h5 a, .security-block .inner-box:hover .lower-content .text ul li span {
    color: #fff
}