<!-- Page Title -->
<section class="page-title" style="background-image: url(https://via.placeholder.com/1920x975)">
  <div class="auto-container">
    <h1>Instalator Sector 6</h1>
    <ul class="page-breadcrumb">
      <li><a href="/">Acasa</a></li>
      <li>Instalator Sector 6</li>
    </ul>
  </div>
</section>
<!-- End Page Title -->
<section class="premium-section style-two">
  <div class="auto-container">
    <h2>Instalator Bucuresti si Ilfov</h2>
    <div class="row clearfix">

      <!-- Security Block -->
      <div class="security-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="image">
            <a><img src="assets/images/resources/Montaj-Obiecte-Sanitare.jpg" alt=""></a>
          </div>
          <div class="lower-content">
            <div class="hover-bg-color"></div>
            <div class="upper-box">

              <h5><a>Montaj Obiecte Sanitare</a></h5>
            </div>
            <div class="text">
              <ul>
                <li><span>></span> Chiuvete</li>
                <li><span>></span> Lavuaruri</li>
                <li><span>></span> Cazi de baie</li>
                <li><span>></span> Cabine de dus</li>
                <li><span>></span> Vase de WC</li>
                <li><span>></span> Mașini de spălat vase</li>
                <li><span>></span> Masini de spalat rufe</li>
                <li><span>></span> Mașini de uscat rufe</li>
                <li><span>></span> Boilere </li>
                <li><span>></span> Centrale termice</li>
              </ul>



            </div>
          </div>
        </div>
      </div>

      <!-- Security Block -->
      <div class="security-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="image">
            <a><img src="assets/images/resources/Montaj-Profesional.jpg" alt=""></a>
          </div>
          <div class="lower-content">
            <div class="hover-bg-color"></div>
            <div class="upper-box">

              <h5><a>Montaj Profesional</a></h5>
            </div>
            <div class="text">
              <ul>
                <li><span>></span> Baterii cazi</li>
                <li><span>></span> Chiuvete, bideuri</li>
                <li><span>></span> Centrale termice</li>
                <li><span>></span> Calorifere</li>
                <li><span>></span> Robineti de trecere</li>
                <li><span>></span> Robineti de calorifere</li>
                <li><span>></span> Hote</li>
                <li><span>></span> Cuptoare</li>
                <li><span>></span> Apometre</li>
                <li><span>></span> Filtre de apa</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Security Block -->
      <div class="security-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="image">
            <a><img src="assets/images/resources/Servicii-Complete.jpg" alt=""></a>
          </div>
          <div class="lower-content">
            <div class="hover-bg-color"></div>
            <div class="upper-box">
              <h5><a>Servicii Complete</a></h5>
            </div>
            <div class="text">
              <ul>
                <li><span>></span> Desfundare profesionala</li>
                <li><span>></span> Desfundare canalizare</li>
                <li><span>></span> Instalații electrice (Autorizat ANR)</li>
                <li><span>></span> Desfundari coloane comune</li>
                <li><span>></span> Înlocuire coloane orizontale subsoluri</li>
                <li><span>></span> Desfundari coloane comune</li>
                <li><span>></span> Desfundare canalizare</li>
                <li><span>></span> Inlocuire tevi sparte</li>
                <li><span>></span> Inlocuire tablouri electrice</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<section>
    <img src="/assets/images/resources/instalator-sector-6.png" alt="">
</section>
