<form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="c-vertical-form" 
  (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <input type="text" class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
      maxlength="256" name="name" formControlName="name" id="name" type="text" placeholder="Nume">
    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
      <div *ngIf="f.name.errors.required">Introduceti numele</div>
      <div *ngIf="f.name.errors.minlength">Numele trebuie sa contina cel putin 3 litere</div>
    </div>
</div>
  <div class="form-group">
    <input type="text" class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
      maxlength="256" name="email" placeholder="Email" formControlName="email" id="email">
    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
      <div *ngIf="f.email.errors.required">Introduceti emailul</div>
      <div *ngIf="f.email.errors.pattern">Formatul nu este corect</div>
      <div *ngIf="f.email.errors.required">Formatul nu este corect</div>
    </div>
</div>
  <div class="form-group">
    <input type="text" class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
      maxlength="256" name="phone" placeholder="Telefon" formControlName="phone" id="phone">
    <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
      <div *ngIf="f.phone.errors.required">Introduceti numarul</div>
      <div *ngIf="f.phone.errors.pattern">Telefonul nu are formatul corect</div>
    </div>
</div>
  <div class="form-group">
    <textarea class="form-input-text no-margin-bottom-lg margin-left margin-right md-no-margin-lr w-input"
      name="message" rows="4" cols="150" placeholder="Mesaj" formControlName="body" id="body"></textarea>
    <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
      <div *ngIf="f.body.errors.required">Introduceti mesajul</div>
    </div>
</div>
  <div class="form-group">
    <button type="submit" [disabled]="!form.valid"
      class="margin-left text-align-center button-primary is-small w-button">Trimite</button>
  </div>
</form>
