.c-vertical-form {
  width: 50%;
}

@media (max-width: 479px) {

  .c-vertical-form {
    width: 100%;
  }
}

.form-group {
  margin-bottom: 20px;
}

.alert {
    width: 100%;
   
   
    background: rgba(255,255,255, .6);
    padding: 4px 10px;
    border-radius: 4px;
    margin-left: 24px;
    &.alert-danger {
        color: red;
    }
}