<div class="section is-hero has-gradient position-relative overflow-hidden is-subpage">
    <div class="container position-relative">
      <div class="col block-centered text-align-center lg-7 md-12">
        <h1>SALARIZARE SI RESURSE UMANE</h1>
      </div>
    </div><img src="/assets/images/header2.svg" alt="" class="header-image style3">
  </div>
  <div class="section padding-bottom-extra">
    <div class="container flex-horizontal">
      <div class="col lg-7 md-12 no-margin-bottom-lg">
        <div target="_blank" class="rich-text-block no-margin-bottom-lg w-richtext">
          <p>Echipa noastra nu vinde servicii, ci solutii. Misiunea noastra este de a ajuta afacerea ta sa aiba mai mult succes, iar asta se traduce prin accesul la un serviciu rapid, adaptat nevoilor specifice ale fiecarui business in parte.
            Oferim o varietate de optiuni de salarizare si resurse umane accesibile pentru intreprinderile mici si mijlocii, in cadrul carora activitatea ta va fi gestionată in timp util si in maniera profesionala.
            
          </p>
          <h2>Ce servicii de salarizare si resurse umane iti oferim:</h2>
          <ul>
            <li>Intocmirea contractelor de munca si depunerea Registrului de Evidenta a Salariatilor - REVISAL<br></li>
            <li>Calculul salarial lunar conform legislatiei in vigoare, intocmirea statului si a fluturasilor<br></li>
            <li>Depunerea lunara a declaratiilor statutare de salarizare si a rapoartelor statistice<br></li>
            <li>Intocmirea si depunerea dosarelor de recuperare sume FNUASS<br></li>
            <li>Asistenta si reprezentare in comunicarea cu autoritatile statului, pe baza de procura<br></li>
            <li>Asistenta si reprezentare in timpul auditurilor salariale si al inspectiilor efectuate de catre autoritatile locale.<br></li>
            
          </ul>
        
          <h3>De ce sa alegeti serviciile noastre de salarizare si resurse umane?</h3>
          <p>In mediul de afaceri, este intelept sa alegeti profesionisti care isi cunosc bine domeniul de a activitate. 
            Echipa noastra va ajuta sa inovati si sa profitați de oportunitatile care exista, oferind solutiile potrivite pentru firma si industria specifica din care face parte. 
            Abordam provocarile de afaceri cu creativitatea, cunostintele si experienta noastra pentru a vedea intreaga imagine, insa din perspectiva ta, nu a noastra. Doar in felul acesta reusim sa integram oamenii potriviti, care sa vina cu solutiile capabile sa creeze valoare reala.
            </p>
        </div>
      
      </div>
      <div class="col lg-1 no-margin-bottom">
        <div class="vertical-divider"></div>
      </div>
      <div class="col lg-4 md-12 no-margin-bottom-lg">

        <app-services-sidebar></app-services-sidebar>
        <app-quote-sidebar></app-quote-sidebar>
      </div>
    </div>
  </div>
  