.testimonial-section .owl-carousel .owl-item {
  display: flex;
}

body {
  font-size: 16px;
}

.sec-title .icon img {
  width: 23px;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}