.what-we-can-do {
    background-image: url('/assets/images/servicii-instalator-sanitar.jpg');
    background-size: cover;
    padding: 16px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            margin: 0;
        }

        ul {
            li {
                color: #fff;
            }
        }
    }
}

.what-we-can-do-after {
    padding: 60px 0;
    ul {
        li {
            color: #286DAF;
            font-size: 18px;
        }
    }
}

.photo_box .image_frame {
    margin-bottom: 15px;
}

.image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
    border-color: #e2e2e2;
}

.image_frame .image_wrapper {
    position: relative;
    overflow: hidden;
}

.image_frame .image_wrapper .mask, .edd_download_image:after {
    -webkit-box-shadow: inset 0 0 5px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 0 5px 2px rgba(0,0,0,.07);
}

.image_frame .image_wrapper .mask::after {
    background: rgba(255, 255, 255, 0.4);
}

.image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.image_frame .image_wrapper .mask:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    filter: alpha(opacity=0);
    opacity: 0;
}

.image_frame .image_wrapper img {
    position: relative;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.image_frame:hover .image_wrapper .mask:after, .image_frame.hover .image_wrapper .mask:after {
    filter: alpha(opacity=100);
    opacity: 1;
}

.image_frame:hover .image_wrapper img, .image_frame.hover .image_wrapper img {
    top: -15px;
}

.image_frame .image_wrapper img {
    margin-bottom: -15px;
}

.photo_box h4 {
    font-size: 14px;
    margin: 16px 0;
    text-align: left;

}

.photo_box {
    margin: 20px 0;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hover_color_wrapper {
    background-color: #286DAF;
    padding: 16px;
    transition: all .3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        color: #fff;
    }

    &:hover {
        background-color: darken(#286DAF, 10);
    }
}

.three-columns {
    margin-bottom: 80px;
}
