h3, h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 0 80px;
    strong {
        margin: 0 16px;
    }
}

.featured-block-three .inner-box .icon-box img {
    height: 50px;
}

.security-block .inner-box .lower-content .upper-box {
    padding: 0;

    h5 {
        a {
            color: #E83943;
        }
    }
}

.text {
    ul {
        li {
            span {
                color: #E83943;
            }
        }
    }
}

.security-block .inner-box:hover .lower-content .text, .security-block .inner-box:hover .lower-content .upper-box h5 a, .security-block .inner-box:hover .lower-content .text ul li span {
    color: #fff
}


.call-to-action-section-two {
    padding: 105px 0 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}